.scrollbar {
  overflow-x: auto;
  scrollbar-width: thin;
  scrollbar-color: gray;
}

.scrollbar::-webkit-scrollbar {
  width: 15px;
  height: 8px;
}

.scrollbar::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  width: 15px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 4px;
  width: 12px;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: darkgray;
}
.edit-delete-container {
  display: none;
}

.bg-blue-200:hover .edit-delete-container {
  display: block;
}
