.scrollbar {
  overflow-x: auto;
  scrollbar-width: thin;
  scrollbar-color: gray;
}

.scrollbar::-webkit-scrollbar {
  width: 15px;
  height: 8px;
}

.scrollbar::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  width: 15px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 4px;
  width: 12px;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: darkgray;
}
.edit-delete-container {
  display: none;
}

.bg-blue-200:hover .edit-delete-container {
  display: block;
}
#techStack {
  /* Styling for the container */
  height: 53px;
  background-color: #dde6ed;
  /* border-radius: 20px 20px 0 0; */
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.scrollable-container {
  /* Styling for the scrollable container */
  overflow-x: auto;
  white-space: nowrap;
}

.scrollable-content {
  /* Styling for the content within the scrollable container */
  display: inline-flex;
  gap: 10px;
  /* Add some gap between items */
  padding: 5px;
  /* Add some padding around items */
}

.tech-item {
  /* Styling for each tech item */
  user-select: none;
  min-width: 100px;
  height: 25px;
  border-radius: 30px;
  background-color: #0c134f;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  transition: 0.6s;
}
